html {
    background-color: rgb(255, 184, 194);
    color: rgb(95, 59, 34);
}
.square-list {
    list-style-type: square;
}
.letter-list {
    list-style-type: upper-alpha;
}
.nav {
    list-style: none;
    background-color: blanchedalmond;
    padding: 20px;
    margin-right: 750px;
}